pkgbase = unified-secure-boot
	pkgdesc = Scripts to automate generation of unified kernel image for secure boot
	pkgver = 0.3
	pkgrel = 1
	url = https://github.com/larsch/arch-linux-unified-secure-boot
	arch = x86_64
	license = MIT
	depends = sbsigntools
	depends = binutils
	depends = efibootmgr
	depends = shim-signed
	source = 99-update-unified-kernel-image.hook
	source = update-unified-kernel-image
	sha256sums = 2ed40846054ede6f7948db1cdab13675423649f0b240712d3a7b5b8492a22994
	sha256sums = ec210f02b7ebc93b2c06d1e35b61cf3d5ba3a3922bf830209e7984d935bda144

pkgname = unified-secure-boot
